.aboutus {
    margin: 80px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutusimg {
    width: 70%;
}
.aboutus h3 {
    font-size: 22px;
    font-weight: 600;
    color: #212EA0;
}
.about-right {
    flex-basis: 56%;
}
.about-left {
    flex-basis: 40%;
}
